<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <header>
            <span>список абитуриентов</span> 
            <div>
                <span>поиск:</span>
                <input type="search" name="q">
                <input type="submit" id="submitB" value="[найти]"></input>
            </div>
        </header>
    </div>
</body>
</html>