body{
    background-color: #161B22;
    color: white;
}
.main{
    width: 40%;
}
header{
    display: flex;
    justify-content: space-between;
}

#submitB{
    border:none;
    color: white;
    background-color:transparent;
}