body{
    background-color: #161B22;
    color: white;
}

.main{
    width: 40%;
}

header{
    display: flex;
    justify-content: space-between;
}

.tableOut table{
    padding-top: 2%;
}

#submitB{
    border:none;
    color: white;
    background-color:transparent;
}

td{
    width: 25%;
}
.line{
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}